body {
  width: 100%;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
}

.grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.col-span-2 {
  grid-column: span 2;
}
.col-span-3 {
  grid-column: span 3;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.black_overlay {
  background: #00000050;
}

.green_overlay {
  background: rgba(12, 198, 12, 0.25);
}

.text_bottom {
  position: absolute;
  right: 14px;
  bottom: 12px;
  color: white;
}
.text_top_right {
  position: absolute;
  right: 14px;
  top: 12px;
  color: white;
}
.text_top_left {
  position: absolute;
  left: 14px;
  top: 12px;
  color: white;
}
.text_bottom_left {
  position: absolute;
  left: 14px;
  bottom: 12px;
  color: white;
}
