@media screen and (max-width: 570px) {
  header {
    padding: 0px 22px;
  }
  h1 {
    font-size: 2em;
  }
  .link {
    display: none;
  }
  .nav-bar {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .header {
    flex-direction: column;
  }
  .header_content {
    width: 100%;
  }

  .button {
    padding: 8px 15px;
  }
  .Change_Your_Habits {
    padding: 10px 16px;
  }
  .Change_Your_Habits_all_Images {
    display: block;
  }
  .Run_an_Extra_Mile {
    flex-direction: column;
    margin: 30px;
  }
  .Run_an_Extra_Mile_Content {
    width: 90%;
    padding-top: 10px;
  }
  .Run_an_Extra_Mile_Content button {
    width: 100%;
  }
  .Run_an_Extra_Mile_Image img {
    width: 100%;
    height: 100%;
    width: 90%;
    padding-bottom: 15px;
  }
  .Run_an_Extra_Mile_Image {
    display: flex;
    justify-content: center;
  }
  .Trainings_and_Exercises {
    display: none;
  }
  /* -A-p-1------------ BMI_Calculator-part---------------- */
  .BMI_Calculator {
    padding: 10px;
  }
  .table_and_form {
    display: block;
    padding: 10px 26px;
  }

  .bmi_calculator {
    width: 100%;
    padding-bottom: 10px;
  }
  input,
  select {
    padding: 12px 0px;
  }
  .select {
    padding-right: 95px;
  }
  .select_1 {
    padding-right: 0px;
  }
  /* Meet our team */
  .Meet_Our_Team {
    margin: 0px 16px;
  }
  .Meet_Our_Team_Image {
    display: block;
  }
  /* the footer */
  footer {
    padding: 2px 16px;
    margin-top: 30px;
  }
  .last-footer-content {
    width: 100%;
  }
  .last-footer {
    display: block;
  }
  .About_info {
    display: block;
    padding-left: 0px;
  }
}

@media screen and (max-width: 769px) {
}
